<div class="container-md">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-5">
        <div class="card-body">
          <h5>個人資料</h5>
          <br>
          <p><strong>姓名: {{user.name}}</strong></p>
          <p>Email: {{user.email}}</p>
          <p>員工編號: {{user.employeeId}}</p>
          <p>職稱: {{user.jobTitle}}</p>
          <p>所屬部門: {{user.department}}</p>
          <p>工作地址: {{user.workAddress}}</p>
          <br>
          <a class="btn btn-outline-primary" href="/users/{{user.id}}/edit">更改帳號密碼</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-5">
        <div class="card-header">
          打卡系統時間 (29 小時制)
        </div>
        <div class="card-body">
          <strong><p id="current-time"></p></strong>
          {{!-- <a class="btn btn-outline-primary" href="/users/{{user.id}}/clock-in">立即打卡</a> --}}
          <form id="post-form" action="/users/{{user.id}}/clock-in" method="POST">
            <button type="submit" class="btn btn-outline-primary">立即打卡</button>
          </form>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-header">
          今天的打卡紀錄
        </div>
        <div class="card-body">

        </div>
      </div>
      <div class="card mb-5">
        <div class="card-header">
          過去的紀錄
        </div>
        <div class="card-body">
          {{> records-tabs route='attendances'}}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function updateTime() {
    const now = new Date();
    let year = now.getFullYear();
    let month = (now.getMonth() + 1).toString().padStart(2, '0');
    let date = now.getDate().toString().padStart(2, '0');
    let hours = now.getHours();
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const seconds = now.getSeconds().toString().padStart(2, '0');

    // 修改時間為 29 小時制
    if (hours >= 0 && hours < 5) {
      hours += 24;

      // 保持前一天的日期
      now.setDate(now.getDate() - 1);
      year = now.getFullYear();
      month = (now.getMonth() + 1).toString().padStart(2, '0');
      date = now.getDate().toString().padStart(2, '0');
    }
    hours = hours.toString().padStart(2, '0');

    const currentTime = `${year}年${month}月${date}日 ${hours}:${minutes}:${seconds}`;
    document.getElementById('current-time').innerText = currentTime;
  }

  setInterval(updateTime, 1000);
  updateTime();
</script>