<div class="container-md">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-5">
        <div class="card-body">
          <h5>個人資料</h5>
          <br>
          <p><strong>姓名: {{user.name}}</strong></p>
          <p>Email: {{user.email}}</p>
          <p>員工編號: {{user.employeeId}}</p>
          <p>職稱: {{user.jobTitle}}</p>
          <p>所屬部門: {{user.department}}</p>
          <p>工作地址: {{user.workAddress}}</p>
          <br>
          <a class="btn btn-outline-primary" href="/users/{{user.id}}/edit">更改帳號密碼</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card mb-5">
        <div class="card-header">
          打卡系統時間
        </div>
        <div class="card-body">
          <strong><p id="current-time"></p></strong>
          {{!-- <a class="btn btn-outline-primary" href="/users/{{user.id}}/clock-in">立即打卡</a> --}}
          <form id="post-form" action="/users/{{user.id}}/clock-in" method="POST">
            <button type="submit" class="btn btn-outline-primary">立即打卡</button>
          </form>
        </div>
      </div>
      <div class="card mb-5">
        <div class="card-header">
          出缺勤紀錄
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">日期</th>
                <th scope="col">上班時間</th>
                <th scope="col">下班時間</th>
                <th scope="col">工作時數</th>
                <th scope="col">狀態</th>
                <th scope="col">備註</th>
              </tr>
            </thead>
            <tbody>
              {{#each attendances}}
              <tr>
                <th scope="row">{{date}}</th>
                <td>{{clockInTime}}</td>
                <td>{{clockOutTime}}</td>
                <td>{{workingHours}}小時</td>
                <td>{{status}}</td>
                <td>{{remark}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function updateTime() {
    const now = new Date();
    const year = now.getFullYear();
    const month = (now.getMonth() + 1).toString().padStart(2, '0');
    const date = now.getDate().toString().padStart(2, '0');
    const hours = now.getHours().toString().padStart(2, '0');
    const minutes = now.getMinutes().toString().padStart(2, '0');
    const seconds = now.getSeconds().toString().padStart(2, '0');
    const currentTime = `${year}年${month}月${date}日 ${hours}:${minutes}:${seconds}`;
    document.getElementById('current-time').innerText = currentTime;
  }

  setInterval(updateTime, 1000);
  updateTime();
</script>